version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.16-browsers # Ligthouse v5以上の場合 node > v10必須
    steps:
      - checkout # コード実行場所(working_directory)にcheckout
      - run:
          name: Install lighthouse
          command: |
            sudo npm install -g lighthouse
      - run:
          name: Check lighthouse
          command: |
            lighthouse --version
      - run:
          name: Run lighthouse
          command: |
            lighthouse https://tomopict.netlify.com/ --output html --output json --output-path ./tomopict.json
      - store_artifacts:
          path: '.'

      - run:
          name: vuepress deploy
          command: |
            curl -X POST --data-urlencode 'payload={"username": "circleCI", "text": "デプロイしました:<'https://${CIRCLE_BUILD_NUM}-161642287-gh.circle-artifacts.com/0/home/circleci/project/tomopict.report.html' | open report :earth_asia:>", "icon_emoji": ":ghost:"}' ${SLACK_WEB_HOOK}

workflows:
  version: 2
  build_and_slack_notify:
    jobs:
      - build
